# R
# History files
.Rhistory

# Session data files
.RData

# User-specific files
.Ruserdata
.Rproj.user/

# Environment Variables
.Renviron

# Python 
# Environments 
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Julia 